<div class="container">
  <div class="row">
{#    <div class="col-md-4">#}
{#      <h3>{{ 'Tag' |t }}</h3>#}
{#      {% for key,tag in tags %}#}
{#        <li class="list-group-item">#}
{#          <a title=""#}
{#             href="{{ tag.url }}">#}
{#            {{ tag.getName() }}#}
{#          </a>#}
{#        </li>#}
{#      {% endfor %}#}

{#    </div>#}
    <div class="col-md-12">
      <h3>{{ 'List article search' |t }}</h3>
      <ul class="list-group list-group-flush">
        {% for key,article in articles %}
          <li class="list-group-item">
            <a title="{{ article.node_field_data_title }}"
               link="{{ path('post_module.show',{'id' : article.nid}) }}"
               href="{{  article.urlLink }}">
              {{ article.title }}</a>
          </li>
        {% endfor %}
      </ul>
      <div class="ty">{{ pager }}</div>
    </div>
  </div>
</div>
