<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="themes/custom/water_theme/img/favicon.ico">
  <title>Mediumish - A Medium style template by WowThemes.net</title>
  <!-- Bootstrap core CSS -->
  <!-- Fonts -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  <!-- Custom styles for this template -->
</head>
<body>

<div class="container">
  <!-- Begin Nav
================================================== -->
  <div id="topbar">
    {{ page.Topbar }}
  </div>
  <!-- End Nav
  ================================================== -->

  <!-- Begin Site Title
  ================================================== -->
  <div class="container">
    {{ page.Description }}

    <!-- End Site Title
    ================================================== -->

    <!-- Begin Featured
    ================================================== -->
    <section class="featured-posts">
      {{ page.Featured }}
    </section>
    <!-- End Featured
    ================================================== -->

    <!-- Begin List Posts
    ================================================== -->

    <section class="recent-posts">
      {{ page.Post }}
    </section>
    <!-- End List Posts
    ================================================== -->

    <!-- Begin Footer
    ================================================== -->
    <div class="footer-outner">
      {{ page.Footer }}
    </div>

    <!-- End Footer
    ================================================== -->

  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript
      ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
</div>
</body>
</html>
