<div class="container">
  <!-- Begin Nav
================================================== -->
  <div id="topbar">
    {{ page.Topbar }}
  </div>
  <!-- End Nav
  ================================================== -->

  <!-- Begin Site Title
  ================================================== -->
  <div class="container">
    <div class="description-outner">
      {{ page.Description }}
    </div>


    <!-- End Site Title
    ================================================== -->
    <aside>
      <div class="row">
        <div class="col-md-6 ml-auto">
          {{  page.Aside }}
        </div>
      </div>

    </aside>
    <!-- Begin Featured
    ================================================== -->
    <section class="featured-posts">
      {{ page.Featured }}
    </section>
    <!-- End Featured
    ================================================== -->

    <!-- Begin List Posts
    ================================================== -->
    <section class="recent-posts">
      {{ page.Post }}
    </section>
    <!-- End List Posts
    ================================================== -->

    <!-- Begin Footer
    ================================================== -->
    <div class="footer-outner">
      {{ page.Footer }}
    </div>

    <!-- End Footer
    ================================================== -->

  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript
      ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
</div>

